body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* ------ for navbar and header section ------- */ 
.bg-color{
    background-color: #F0FFF0;
    padding-bottom: 70px;
}
.image-wh{
    width: 200px;
    height: 60px;
}
.margin{
    margin-right: 20px;
}
.navbar-bgcolor{
    background-color: #F0FFF0 !important;
    margin-bottom: 60px;
}
.element h1{
    font-size: 50px;
    font-weight: bold;
}
.margin-p{
    margin-top: 30px;
    margin-bottom: 30px;
}
.getstarted-btn{
    border-radius: 30px;
    padding: 10px 40px;
    font-size: 20px;
    background-color: #21B573;
    color: white;
    border: none;
}
/* ----------- student,topic,book section ---------- */
.information{
    padding: 50px 0px;
}
.information .card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
    background-color: #F8FFFB;
}
.card-special{
    background-color: #ffffff;
    box-shadow: 5px 5px 10px gray;
}
.information .card img{
    margin: 50px 0px 30px 0px;
    width: 90px;
    height: 90px;
}
@media only screen and (max-width: 760px;){
    .information .card{
        margin-bottom: 25px;
    }
}
@media only screen and (max-width: 560px;){
    .information .card img{
        width: 60px;
        height: 55px;
    }
}

/* ------ online course sectione style ----- */

.courses {
    padding: 50px 0;
}
.title{
    text-align: center;
}
hr{
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background-image: linear-gradient(120deg, #e65c00, #ffb380);
}
.courses .card {
    border: 0;
    padding: 20px 20px 0px 20px;
    border-radius: 12px;
    transition: 0.7s;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}
.courses .card .card-body {
    padding: 20px 0 20px 0;
}

.courses .card .card-title {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 0;
}

.courses .card .card-text {
    color: #909091;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 12px;
}

.courses .card-body img {
    height: 18px;
    width: 20px;
}

.courses .card-body span {
    color: #585859;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
    margin-top: 2px;
}
.getstarted-btn-2{
    border-radius: 40px;
    padding: 5px 20px;
    font-size: 20px;
    background-color: #21B573;
    color: white;
    border: none;
}

/* --------------  Man Information ---------------------------*/

